<div class="nav-container">
  <div class="nav-bar">
    <div class="title">Angular 12 ngrx store</div>
    <ul>
      <li [routerLink]="['']">Home</li>
      <li [routerLink]="['blog']">Blog</li>
      <li [routerLink]="['counters']">Counter</li>
      <div *ngIf="!(isAuthenticated$ | async)">
        <li [routerLink]="['auth']">Login</li>
        <li [routerLink]="['auth', 'signup']">Sign up</li>
      </div>
      <div *ngIf="isAuthenticated$ | async">
        <li (click)="logout()">Logout</li>
      </div>
    </ul>
  </div>
</div>

<div class="error-container" *ngIf="errorMessage$ | async as error">
  <div class="label">Error: {{ error }}!</div>
</div>

<router-outlet></router-outlet>

<div *ngIf="loadingStatus$ | async">
  <app-loading></app-loading>
</div>
